</div>
<footer>
  <section id="contact" class="mt-1">
    <div class="row pb-2">
      <div class="col d-flex justify-content-center">
        © eStationery 2021
      </div>
      <div class="col white-links d-flex justify-content-center">
        <span class="footer-title mr-4">Follow Us</span>
        <a href="https://facebook.com/" target="_blank">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          Facebook
        </a>
        <a id="profile-link" target="_blank" href="https://instagram.com/">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          Instagram
        </a>
        <a href="https://twitter.com/" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          Twitter
        </a>
      </div>
    </div>
  </section>
</footer>
</div>


<script src="/javascripts/main.js"></script>
</body>

</html>